<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termini YT</title>
    <link rel="icon" href="../../Pics/logo.png">
    <link rel="stylesheet" href="../../stilizimi/AboutStyle.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="grid">
                <div class="left">
                    <img src="../../Pics/about.svg" alt="">
                </div>
                <div class="right">
                    <h4>RRETH NESH !</h4>
                    <h1>TERMINI YT </h1>
                    
                    <p>Termini YT eshte nje aplikacion i cili mundeson rezervimin e termineve te futbollin apo edhe kerkimin e lojtareve. Ekipi i Termini YT eshte i perbere nga 5 antare. </p>
                    <a href="#" class="btn">Kontakto me ne</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>