<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../stilizimi/ShtoTermin.css">
<title>Shto Terminin</title>

</head>
<body>

    <div class="tabela">
        <div class="input-container">
            <h4>Emerto Terminin</h4>
            <input type="text" name="name" class="input" />
            
            
          </div>
          <div class="box">
             
                <h4>Pozicioni qe nevoitet</h4>
                
                <select class="drop1">  
                <option value = "Perzgjedh Pozicionin"> Perzgjedh Pozicionin   
                </option> 
                <option value = "Sulmues"> Sulmues   
                </option>  
                <option value = "Mesfushor"> Mesfushor   
                </option>  
                <option value = "Mbrojtes"> Mbrojtes  
                </option>  
                <option value = "Portier"> Portier  
                </option>  
                </select>  
                 

          </div>
          <div class="box1">
             
            <h4>Komuna</h4>
            
            <select class="drop2">  
            <option value = "Perzgjedh Komunen"> Perzgjedh Komunen  
            </option> 
            <option value = "01"> 01-Prishtine   
            </option>  
            <option value = "02"> 02-Mitrovice   
            </option>  
            <option value = "03"> 03-Peje  
            </option>  
            <option value = "04"> 04-Prizeren  
            </option>
            <option value = "05"> 05-Ferizaj  
            </option>
            <option value = "06"> 06-Gjilan  
            </option>
            <option value = "07"> 07-Gjakove  
            </option>
            </select>  
             

      </div>
      <div class="box2">
             
        <h4>Menyra e Transportit</h4>
        
        <select class="drop3">  
        <option value = "Perzgjedh Transportin"> Perzgjedh Transportin   
        </option> 
        <option value = "Ekipor"> Ekipor   
        </option>  
        <option value = "Privat"> Privat   
        </option> 
        </select>  
         

  </div>
  <div>
    <h4>Menyra e Transportit</h4>
        
    <select class="drop3">  
    <option value = "Perzgjedh Transportin"> Perzgjedh Transportin   
    </option> 
    <option value = "Ekipor"> Ekipor   
    </option>  
    <option value = "Privat"> Privat   
    </option> 
    </select>  

  </div>
 
  <div>
    <h4>Caktoni Fushen</h4>
    <select class="drop4">  
    <option value = "Perzgjedh Fushen"> Perzgjedh Fushen   
    </option> 
    <option value = "Princ"> Princ   
    </option>  
    <option value = "Arena1"> Arena 1   
    </option> 
    <option value = "Arena2"> Arena 2   
    </option> 
    <option value = "2Korriku"> 2 Korriku   
    </option> 
    </select>  


  </div>
  <h4>Cakto Daten</h4>
    <div class="Data"> 
       
        <input type="date" name="Startdate">  
    </div>
    <div class="ora">
        <input type="time" id="appt" name="appt"
        min="09:00" max="18:00" required>
    </div>
    <div class="submit">
        <input type="submit" value="Submit">
    </div>
    </div>



</body>
</html>