<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Termini YT </title>
    <link rel="stylesheet" href="../../stilizimi/ShtoTermin.css">
    <link rel="icon" href="../../Pics/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Shto Terminin</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Emerto Terminin</span>
            <input type="text" placeholder="Emerto Terminin" style="color:white;" >
          </div>
          <div class="Pozicioni">
            <div class="details">Perzgjedh pozicionin</div>
            <select class="drop1">  
              <option value = "Perzgjedh Pozicionin"> Perzgjedh Pozicionin   
              </option> 
              <option value = "Sulmues"> Sulmues   
              </option>  
              <option value = "Mesfushor"> Mesfushor   
              </option>  
              <option value = "Mbrojtes"> Mbrojtes  
              </option>  
              <option value = "Portier"> Portier  
              </option>  
              </select> 
          </div>
          <div class="Komuna">
            <div class="details">Perzgjedh Komunen</div>
            <select class="drop2">  
              <option value = "Perzgjedh Komunen"> Perzgjedh Komunen  
              </option> 
              <option value = "01"> 01-Prishtine   
              </option>  
              <option value = "02"> 02-Mitrovice   
              </option>  
              <option value = "03"> 03-Peje  
              </option>  
              <option value = "04"> 04-Prizeren  
              </option>
              <option value = "05"> 05-Ferizaj  
              </option>
              <option value = "06"> 06-Gjilan  
              </option>
              <option value = "07"> 07-Gjakove  
              </option>
              </select>  
          </div>
          <div class="Transporti">
            <div class="details">Phone Number</div>
            <select class="drop3">  
              <option value = "Perzgjedh Transportin"> Perzgjedh Transportin   
              </option> 
              <option value = "Ekipor"> Ekipor   
              </option>  
              <option value = "Privat"> Privat   
              </option> 
              </select>  
          </div>

          <div class="Fusha">
            <div class="details">Phone Number</div>
            <select class="drop4">  
              <option value = "Perzgjedh Fushen"> Perzgjedh Fushen   
              </option> 
              <option value = "Princ"> Princ   
              </option>  
              <option value = "Arena1"> Arena 1   
              </option> 
              <option value = "Arena2"> Arena 2   
              </option> 
              <option value = "2Korriku"> 2 Korriku   
              </option> 
              </select>  
          </div>

          <div class="ora">
            <div class="details">Cakto Oren</div>
            <input class="ora1" type="time" id="appt" name="appt" 
        min="09:00" max="18:00" >
          </div>
          <div class="data">
            <div class="details">Zgjedh Daten</div>
            <input class="data1" type="date" name="Startdate" >  
          </div>
        </div>
       
        <div class="Chooseafile">
          <div class="teksti">Shto foton e terminit</div>
          <input class="ch1" type="file" id="img" name="img" accept="image/*">
        </div>
        
 
        
        <div class="button">
      
          <input type="submit" value="Krijo Terminin">
        </div>

    
      </form>
    </div>
  </div>

</body>
</html>
