html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
/* Footer */
.footerContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(58, 57, 57);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.footerleft:last-child{
    padding-top: 5px;
}
.footerLinks{
    display: flex;
    flex-direction: column;
}
.footerLinks>a{
    text-decoration: none;
    color: white;
}
.size{
    height: 170px;
    width: 200px;
}

.topnav {
    background-color: rgb(58, 57, 57);
    overflow: hidden;
}
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 33px 25px 26px 25px;
    text-decoration: none;
    font-size: 16px;
}
.topnav a:hover {
    background-color: rgb(46, 44, 44);
    color:white;
}
.topnav a.act {
    background-color: rgb(46, 44, 44);
    color: white;
}
.topnav a.login{
    float: right;
}
header{
    background-color: rgb(53, 51, 51); 
}
.llogo{
    float: left;
    height: 77px;
    width: 100px;
    background-color: rgb(58, 57, 57);
}