
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif !important; */
}
body{
  width:fit-content;
  height:fit-content;
  
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 10px; */
  background: #3a3939;
  
}
.container{
  width: 700px;
  height: fit-content;
  background-color: #272727;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.15);
  align-items: center;
  margin:0 auto;
  font-family: 'Poppins',sans-serif;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color:#fff;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #fff, #b6b6b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  color:#fff;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(220% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #fff;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  background-color: #474747;
  color:#fff;
  font-size: 15px;
  padding-left: 16px;
  border: 1px solid #474747;
  border-bottom-width: 1px;
  transition: all 0.3s ease;

}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #474747;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #bebebe;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, rgb(105, 105, 105), #474747);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, rgb(105, 105, 105), #474747);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}


.Pozicioni{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  
}
.drop1{
margin-bottom: 15px;
width:100%;
background-color: #474747;
  color:#fff;
  border:#474747;
 height: 70%;
 padding-left: 16px;
  
}

.Komuna{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.drop2{
  margin-bottom: 15px;
  width:100%;
  background-color: #474747;
  color:#fff;
  border:#474747;
  height: 70%;
  padding-left: 16px;
  }

.Transporti{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.drop3{
  margin-bottom: 15px;
  width:100%;
  background-color: #474747;
  color:#fff;
  border:#474747;
  height: 70%;
  padding-left: 16px;
  }

.Fusha{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.drop4{
  margin-bottom: 15px;
  width:100%;
  background-color: #474747;
  color:#fff;
  border:#474747;
  height: 70%;
  padding-left: 16px;
  }

.ora
{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  
}
.ora1{
  margin-bottom: 15px;
  width:100%;
  background-color: #474747;
  color:#fff;
  border:#474747;
  height: 70%;
  padding-left: 16px;
  }

  .data
{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  
}
.data1{
  margin-bottom: 15px;
  width:100%;
  background-color: #474747;
  color:#fff;
  border:#474747;
  height: 70%;
  padding-left: 16px;
  
  }

::placeholder { 
  color: white; 
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.Chooseafile
{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  
}
.ch1{
  margin-bottom: 15px;
  width:100%;
 ;
  color:#fff;
  border:#474747;
  height: 70%;
  padding-left: 0px;
  
  }

.teksti{
  color: white;
}

input[type=file]::file-selector-button {
  border: 2px solid #272727;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #8b8b8b;
  transition: 1s;
  color:white;
}

input[type=file]::file-selector-button:hover {
  background-color: #474747;
  border: 2px solid #ffffff;
}